:root {
    --background: #2c3639;
    --text: #dcd7c9;
    --accent1: #a27b5c;
    --accent2: #3f4e4f;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5em;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    height: 40px;
    width: 70%;
    background-color: var(--accent2);
    border: none;
    border-radius: 3px;
    color: var(--text);
    font-size: 1.5em;
    padding: 0.7em;
    outline: none;
}

#submit {
    margin-top: 10px;
    width: clamp(200px, 30%, 400px);
    height: 40px;
    font-size: 1.1em;
    color: var(--text);
    background-color: hsl(184, 10%, 35%);
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

#submit:hover {
    background-color: var(--accent2);
}

input::placeholder {
    color: var(--text);
    opacity: 0.5;
    user-select: none;
}

.todo-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0 0;
    width: 80%;
    border: 3px solid var(--accent2);
    border-radius: 5px;
}

.todo-list-item {
    padding: 5px 20px;
    border-bottom: 2px dotted var(--accent1);
    display: flex;
    align-items: center;
    width: clamp(200px, 50%, 500px);
}

.todo-list-item:last-child {
    border: none;
}

.todo-text {
    margin: 0 0 0 5px;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.gg-remove {
    box-sizing: border-box;
    display: block;
    visibility: hidden;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 22px;
    color: red;
    left: 0;
}

.gg-remove::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: red;
    border-radius: 5px;
    top: 8px;
    left: 3px;
}

.gg-corner-down-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 1em;
    height: 1em;
    margin-left: 15px;
}
.gg-corner-down-left::after,
.gg-corner-down-left::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
}
.gg-corner-down-left::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 3px;
}
.gg-corner-down-left::before {
    width: 16px;
    height: 12px;
    border-bottom-right-radius: 4px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    bottom: 6px;
}

.todo-list-item:hover > .gg-remove {
    visibility: visible;
}
